[submodule "Amethyst"]
	path = Amethyst
	url = ./Amethyst
	branch = .
[submodule "Athena"]
	path = Athena
	url = ./Athena
	branch = .
[submodule "BlueSky"]
	path = BlueSky
	url = ./BlueSky
	branch = .
[submodule "BlueSpiceSkin"]
	path = BlueSpiceSkin
	url = ./BlueSpiceSkin
	branch = .
[submodule "Bouquet"]
	path = Bouquet
	url = ./Bouquet
	branch = .
[submodule "CologneBlue"]
	path = CologneBlue
	url = ./CologneBlue
	branch = .
[submodule "CustomPage"]
	path = CustomPage
	url = ./CustomPage
	branch = .
[submodule "Daddio"]
	path = Daddio
	url = ./Daddio
	branch = .
[submodule "DeskMessMirrored"]
	path = DeskMessMirrored
	url = ./DeskMessMirrored
	branch = .
[submodule "Dusk"]
	path = Dusk
	url = ./Dusk
	branch = .
[submodule "DuskToDawn"]
	path = DuskToDawn
	url = ./DuskToDawn
	branch = .
[submodule "Empty"]
	path = Empty
	url = ./Empty
	branch = .
[submodule "Example"]
	path = Example
	url = ./Example
	branch = .
[submodule "Gamepress"]
	path = Gamepress
	url = ./Gamepress
	branch = .
[submodule "GreyStuff"]
	path = GreyStuff
	url = ./GreyStuff
	branch = .
[submodule "HasSomeColours"]
	path = HasSomeColours
	url = ./HasSomeColours
	branch = .
[submodule "Mask"]
	path = Mask
	url = ./Mask
	branch = .
[submodule "Material"]
	path = Material
	url = ./Material
	branch = .
[submodule "Metrolook"]
	path = Metrolook
	url = ./Metrolook
	branch = .
[submodule "MinervaNeue"]
	path = MinervaNeue
	url = ./MinervaNeue
	branch = .
[submodule "Modern"]
	path = Modern
	url = ./Modern
	branch = .
[submodule "MonoBook"]
	path = MonoBook
	url = ./MonoBook
	branch = .
[submodule "Nimbus"]
	path = Nimbus
	url = ./Nimbus
	branch = .
[submodule "Nostalgia"]
	path = Nostalgia
	url = ./Nostalgia
	branch = .
[submodule "Poncho"]
	path = Poncho
	url = ./Poncho
	branch = .
[submodule "Refreshed"]
	path = Refreshed
	url = ./Refreshed
	branch = .
[submodule "Schulenburg"]
	path = Schulenburg
	url = ./Schulenburg
	branch = .
[submodule "Splash"]
	path = Splash
	url = ./Splash
	branch = .
[submodule "Synagonism"]
	path = Synagonism
	url = ./Synagonism
	branch = .
[submodule "Tempo"]
	path = Tempo
	url = ./Tempo
	branch = .
[submodule "Timeless"]
	path = Timeless
	url = ./Timeless
	branch = .
[submodule "Tomas"]
	path = Tomas
	url = ./Tomas
	branch = .
[submodule "Truglass"]
	path = Truglass
	url = ./Truglass
	branch = .
[submodule "Vector"]
	path = Vector
	url = ./Vector
	branch = .
[submodule "VectorV2"]
	path = VectorV2
	url = ./VectorV2
	branch = .
[submodule "WPtouch"]
	path = WPtouch
	url = ./WPtouch
	branch = .
[submodule "WoOgLeShades"]
	path = WoOgLeShades
	url = ./WoOgLeShades
	branch = .
[submodule "apex"]
	path = apex
	url = ./apex
	branch = .
[submodule "erudite"]
	path = erudite
	url = ./erudite
	branch = .
[submodule "mediawiki-strapping"]
	path = mediawiki-strapping
	url = ./mediawiki-strapping
	branch = .
[submodule "p2wiki"]
	path = p2wiki
	url = ./p2wiki
	branch = .
[submodule "webplatform"]
	path = webplatform
	url = ./webplatform
	branch = .
